.tp-caption.big_black {
font-size:61px;
line-height:67px;
font-weight:700;
font-family:Arial;
color:rgb(0, 0, 0);
text-decoration:none;
background-color:rgb(255, 255, 255);
padding:0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:-1.5px;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

