<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Revslider>
            <version>0.1.0</version>
        </Magentothem_Revslider>
    </modules>
    <frontend>
        <routers>
            <revslider>
                <use>standard</use>
                <args>
                    <module>Magentothem_Revslider</module>
                    <frontName>revslider</frontName>
                </args>
            </revslider>
        </routers>
        <layout>
            <updates>
                <revslider>
                    <file>revslider.xml</file>
                </revslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<revslider>
				<use>admin</use>
				<args>
					<module>Magentothem_Revslider</module>
					<frontName>revslider</frontName>
				</args>
			</revslider>
        </routers>
    </admin>
      <adminhtml>
        <menu>
            <magentothem translate="title" module="revslider">
                <title>Magentothem</title>
                <sort_order>71</sort_order>               
                <children>
                    <revslider translate="title" module="revslider">
                        <title>Revolution Slideshow</title>
                        <sort_order>35</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/revslider</action>
                            </configuration>
                            <items module="revslider">
                                <title>Manage Revsliders</title>
                                <sort_order>0</sort_order>
                                <action>revslider/adminhtml_revslider</action>
                            </items>
                        </children>
                    </revslider>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <revslider>
                                            <title>Revolution Slideshow</title>
                                        </revslider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <revslider>
                    <file>revslider.xml</file>
                </revslider>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <revslider>
                <class>Magentothem_Revslider_Model</class>
                <resourceModel>revslider_mysql4</resourceModel>
            </revslider>
            <revslider_mysql4>
                <class>Magentothem_Revslider_Model_Mysql4</class>
                <entities>
                    <revslider>
                        <table>revslider</table>
                    </revslider>
					<slide>
                        <table>revslider_slide</table>
                    </slide>
					<caption>
                        <table>revslider_caption</table>
                    </caption>
					<animation>
                        <table>revslider_animation</table>
                    </animation>
                </entities>
            </revslider_mysql4>
        </models>
        <resources>
            <revslider_setup>
                <setup>
                    <module>Magentothem_Revslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </revslider_setup>
            <revslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </revslider_write>
            <revslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </revslider_read>
        </resources>
        <blocks>
            <revslider>
                <class>Magentothem_Revslider_Block</class>
            </revslider>
        </blocks>
        <helpers>
            <revslider>
                <class>Magentothem_Revslider_Helper</class>
            </revslider>
        </helpers>
    </global>
    <default>
	<revslider>
		<revslider_config>
			<enabled>1</enabled>
		</revslider_config>
	</revslider>
	</default>
</config>